<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Health Track - Cadastro</title>
    <link type="image/x-icon" rel="icon" href="../imagens/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/cadastro.css">
    <link rel="stylesheet" href="../css/jquery-ui.css">
    <script src="../js/jquery.js"></script>
    <script src="../js/jquery-ui.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.validacao.js"></script>
    <!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->
    <script>
        $(function () {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
</head>

<body>
    <div class="container-fluid p1">
        <header>
            <div class="row h-25">
                <div class="logo m-1">
                    <a href="../index.html">
                        <h1>Health Track</h1>
                    </a>
                </div>
                <div class="ml-auto m-1">
                    <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#btnlogin">
                        Entrar
                    </button>
                </div>
                <div class="modal fade" id="btnlogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Login</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <label for="email" class="grey-text">Email:</label>
                                    <input type="email" id="email" class="form-control" data-validation="required" data-validation-error-msg="Campos obrigatórios">
                                    <br>
                                    <label for="senha" class="grey-text">Senha:</label>
                                    <input type="password" id="senha" class="form-control" data-validation="required" data-validation-error-msg="Campos obrigatórios">
                                    <input type="checkbox" name="lembrar" id="lembrar">
                                    <label for="lembrar">Lembrar senha</label>
                                    <br>
                                    <!-- Preciso arrumar esqueci senha -->
                                    <a href="">
                                        <p></p>Esqueci senha</a>
                                    <div class="text-center mt-4">
                                        <button class="btn btn-success btn-lg" type="submit">Login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <form id="cadastro" class="mx-auto formulario" method="POST" autocomplete="off">
                <p class="h2 text-center titulo">Cadastro</p>
                <div>
                    <div class="form-group">
                        <label for="cnome" class="">Nome:</label>
                        <input type="text" class="form-control form-control-sm" id="cnome" name="cnome" data-validation="required" data-validation-error-msg="Campo obrigatório">
                    </div>
                    <div class="form-group">
                        <label for="csobrenome" class="">Sobrenome:</label>
                        <input type="text" class="form-control form-control-sm" id="csobrenome" data-validation="required" data-validation-error-msg="Campo obrigatório">
                    </div>
                    <div id="sexo" class="form-check">
                        <p>Sexo:</p>
                        <input class="form-check-input" type="radio" name="sexo" id="cmasculino" value="option1" data-validation="checkbox_group"
                            data-validation-qty="max1" data-validation-error-msg="Escolha obrigatória">
                        <label class="form-check-label" for="cmasculino">Masculino</label>
                        <input class="form-check-input ml-4" type="radio" name="sexo" id="cfeminino" value="option2" data-validation="checkbox_group">
                        <label class="form-check-label ml-5" for="cfeminino">Feminino</label>
                    </div>
                    <div class="form-group mt-3">
                        <label for="datepicker">Data de nascimento:</label>
                        <input type="text" class="form-control form-control-sm" id="datepicker" data-validation="date" data-validation-format="dd/mm/yyyy"
                            data-validation-error-msg="Campo obrigatório">
                    </div>
                    <div class="form-group">
                        <label for="cidade">Idade:</label>
                        <input type="number" class="form-control" id="cidade" data-validation="required" data-validation-error-msg="Campo obrigatório">
                    </div>
                    <div class="form-group">
                        <label for="cpeso">Peso:</label>
                        <input type="number" class="form-control form-control-sm" id="cpeso" data-validation="required" data-validation-error-msg="Campo obrigatório">
                        <p class="aviso-peso">*Em kg.</p>
                    </div>
                    <div class="form-group">
                        <label for="cemail">Email:</label>
                        <input type="email" class="form-control form-control-sm" id="cemail" data-validation="required" data-validation-error-msg="Campo obrigatório">
                    </div>
                    <div class="form-group">
                        <label for="csenha">Senha:</label>
                        <input type="password" class="form-control form-control-sm" id="csenha" data-validation="required" data-validation-error-msg="Campo obrigatório">
                    </div>
                    <div class="form-group">
                        <label for="csenha2">Digite novamente a senha:</label>
                        <input type="password" class="form-control form-control-sm" id="csenha2" data-validation="required" data-validation-error-msg="Campo obrigatório">
                    </div>
                    <!-- <div class="g-recaptcha" data-sitekey="6LdsOV8UAAAAAMx3eAOUOZ6pEfkuouL08QMsaLja"></div> -->
                </div>
                <div class="botoes">
                    <button class="btn btn-secundary" type="reset">Limpar</button>
                    <button id="botao" class="btn btn-success" type="submit">Enviar</button>
                </div>
            </form>
        </main>
    </div>
    <script>  $.validate({
            modules: "html5",
            validateOnBlur: true
        })
    </script>
</body>

</html>