<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
    <title>Health Track</title>
    <link type="image/x-icon" rel="icon" href="../imagens/favicon.ico">
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.validacao.js"></script>
</head>

<body>
    <div class="container-fluid p1">
        <div class="d-flex flex-column align-items-center p-2">
            <div class="text-center mt-4">
                <div>
                    <img src="../imagens/perfil.jpg" alt="Imagem 3" class="img-thumbnail rounded-circle">
                </div>
                <div>
                    <form>
                        <div class="mt-4">
                            <label for="fotoPerfil" class="">
                                <p class="h4 text-success">Trocar foto do perfil</p>
                            </label>
                            <br>
                            <input class="" type="file" name="fotoPerfil" id="fotoPerfil">
                        </div>
                    </form>
                </div>
            </div>
            <div class="mt-5">
                <form class=" border rounded p-4">
                    <p class="text-center text-success h4">Trocar senha</p>
                    <div class="form-group">
                        <label for="senha" class="">Digite sua senha:</label>
                        <input class="form-control form-control-sm" type="password" name="senha" id="senha" data-validation="required" data-validation-error-msg="Campo obrigatório">
                    </div>
                    <div class="form-group">
                        <label for="senhaAlt1" class="">Digite sua nova senha:</label>
                        <input class="form-control form-control-sm" type="password" name="senhaAlt1" id="senhaAlt1" data-validation="required" data-validation-error-msg="Campo obrigatório">
                    </div>
                    <div class="form-group">
                        <label class="" for="senhaAlt2">Digite novamente sua nova senha:</label>
                        <input class="form-control form-control-sm" type="password" name="senhaAlt2" id="senhaAlt2" data-validation="required" data-validation-error-msg="Campo obrigatório">
                    </div>
                    <button type="submit" class="btn btn-success btn-lg mt-3">Salvar</button>
                </form>
            </div>
        </div>
    </div>
    <script>
    $.validate({
        modules: "html5",
        validateOnBlur: true
    })
    </script>
</body>

</html>