<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <title>Health Track</title>
    <link type="image/x-icon" rel="icon" href="imagens/favicon.ico">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="dashboard">Health Track</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="resumo" target="frame">Resumo
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="atividades" target="frame">Atividades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="dieta" target="frame">Dieta</a>
                </li>
                <!-- Incluir Social no futuro -->
                <li class="nav-item">
                    <a href="pressao" class="nav-link" target="frame">Pressão</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <!-- Foto do perfil -->
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">(Foto) + (Nome)</a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" target="frame" href="conta">Conta</a>
                        <a class="dropdown-item" href="/">Sair</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Frame -->
    <div class="frame">
        <iframe name="frame" src="resumo" frameborder="0"></iframe>
    </div>
</body>

</html>