<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
</head>
<body>

<div class="page-wrapper" layout:fragment="corpo">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
             <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Adicionar novo registro de pressão</h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<div class="card">
							<form method="POST" id="form1" th:action="${pressao.id == null} ? @{/pressao/salvar} : @{/pressao/editar}" th:object="${pressao}">
								<div class="card-body">
									<div class="form-group">
										<label for="data">Data do registro</label> <input type="text"
											class="form-control data" id="data" placeholder="dd/mm/aaaa" th:field="*{data}">
									</div>
									<div class="form-group">
										<label for="pressaoS">Pressão arterial sistólica</label> <input type="text"
											class="form-control" id="pressaoS" placeholder="Ex.: 120" th:field="*{pressaoAlta}">
									</div>
									<div class="form-group">
										<label for="pressaoD">Pressão arterial diastólica</label> <input type="text"
											class="form-control" id="pressaoD" placeholder="Ex.: 80" th:field="*{pressaoBaixa}">
									</div>
								</div>
								<div class="border-top">
									<div class="card-body">
									<input type="hidden" id="id" th:field="*{id}">
										<button type="submit" class="btn btn-success">Enviar</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                Desenvolvimento back-end e front-end por Guilherme Tavares.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
</body>
</html>