@media screen and (orientation: portrait) {
    form {
        width: 100%;
    }
}

.p1 {
    font-family: "Nunito";
    font-size: 1.2em;
    height: 100vh;
    overflow: hidden;
}

.p1::after {
    content: "";
    background: url(../imagens/fundo1.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1
}

div p {
    margin: 0;
}

.formulario {
    border: 2px;
    padding: 1vh 1vw;
    background-color: rgb(247, 247, 247);
    max-width: 50vh;
    height: 90vh;
    overflow: auto;
}

.aviso-peso {
    font-size: 0.7em;
}

.titulo {
    border-bottom: 2px solid black;
}

.botoes {
    border-top: 2px solid black;
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.botoes button {
    margin-left: 1.5em;
}

.logo a:hover,
.logo a:link,
.logo a:visited {
    color: white;
}

.form-error {
    color: red;
    font-size: 0.8em;
}